@import "https://fonts.googleapis.com/css2?family=Overpass:wght@200;300;400;500;600;700;800&display=swap";

body {
  font-family: "Overpass", sans-serif;
  margin: 0;
  padding: 0;
}

.container,
.container-lg,
.container-md,
.container-sm,
.container-xl {
  max-width: 1150px;
}

ul {
  margin: 0;
  list-style-type: none;
  padding: 0;
}

@media screen and (max-width: 991px) {
  /********* Header **********/

  .header .navbar {
    padding: 9px 0px;
  }
  .header-buttons {
    display: none;
  }
  .navbar-light .navbar-toggler {
    border-color: transparent;
    padding: 0;
  }
  .search-icon {
    top: -48px;
    right: 60px;
  }
  .logo img {
    width: 102px;
  }
  .navbar-light .navbar-toggler-icon {
    background: url(../../images/header/menu.svg);
    width: 18px;
    height: 14px;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .sub-header .nav {
    white-space: nowrap;
    display: block;
    overflow-x: auto;
    overflow-y: hidden;
  }

  .sub-header .nav a,
  .sub-header .nav .nav-item {
    display: inline-block;
  }

  /************** Footer ***************/

  .footer-grid .footer-column:first-child {
    display: none;
  }

  .featured-content .post-author {
    padding-bottom: 40px;
  }

  .bottom-footer {
    flex-wrap: wrap;
    justify-content: center;
    background: rgba(255, 255, 255, 0.03);
    margin: 0px -15px;
    padding: 20px 0px 20px;
  }

  ul.social-icon li {
    margin: 0px 18px;
  }

  ul.auth-menu li {
    margin: 0 25px;
  }
  ul.social-icon li a img {
    width: 22px;
    height: 22px;
  }
  ul.auth-menu li:first-child {
    width: 100%;
    text-align: center;
    order: 3;
    padding: 15px 0px;
  }
  ul.social-icon {
    padding-bottom: 10px;
  }
  .footer-column {
    width: 50%;
    padding-bottom: 30px;
  }
  .bottom-footer ul {
    justify-content: center;
    width: 100%;
  }
  .footer-column ul li {
    padding-bottom: 15px;
    padding-top: 5px;
  }
  .footer-logo {
    display: block;
  }
  .footer-logo img {
    width: 122px;
    margin-bottom: 20px;
    margin-top: 10px;
  }
}
