/**************** Breadcrum  ******************/

.blog-breadcrum {
  padding: 30px 0px;
}

.blog-breadcrum ul {
  display: flex;
}

.blog-breadcrum ul li {
  padding-right: 40px;
  position: relative;
}

.blog-breadcrum ul li a {
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  text-align: center;
  color: #6b7b9c;
}

.blog-breadcrum ul li:last-child a {
  color: #4c70f0;
}

.blog-hero {
  background: linear-gradient(0deg, #f7f9fd, #f7f9fd);
  height: 360px;
  padding: 30px 0px;
}

.blog-breadcrum ul li a:hover {
  text-decoration: none;
}

.blog-breadcrum ul li:after {
  content: "";
  background: url(../../images/blog/arrow-right.svg);
  width: 6px;
  height: 11px;
  display: block;
  position: absolute;
  right: 20px;
  background-size: cover;
  top: 7px;
}

.blog-breadcrum ul li:last-child:after {
  display: none;
}

/**************** Blog Hero Banner  ******************/

.blog-hero {
  background: linear-gradient(0deg, #f7f9fd, #f7f9fd);
  height: 360px;
  padding: 30px 0px;
}

.blog-hero-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.hero-cover {
  max-width: 730px;
  width: 100%;
}

.hero-info {
  max-width: 350px;
  width: 100%;
}

.hero-info .post-info {
  padding-top: 25px;
}

.hero-cover img {
  border-radius: 8px;
  object-fit: cover;
  width: 100%;
}

.hero-info h2 {
  font-weight: 800;
  font-size: 35px;
  line-height: 40px;
  color: #3c4257;
  margin: 0;
  padding-bottom: 22px;
}
.have-question .btn {
  background: #4c70f0;
  box-shadow: 2px 4px 10px rgb(76 112 240 / 25%);
  border-radius: 8px;
  min-width: 212px;
  padding: 10px;
}

/**************** Blog Content  ******************/

.blog-content-grid {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.blog-content-left {
  max-width: 730px;
  padding-top: 160px;
  width: 100%;
}

.blog-content-right {
  max-width: 350px;
  padding-top: 30px;
  width: 100%;
}

.blog-content-left h3 {
  font-weight: 800;
  font-size: 24px;
  line-height: 30px;
  color: #3c4257;
  padding: 30px 0px;
}

.blog-content-left p {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #6b7b9c;
}

.detail-author .post-author img {
  width: 120px;
  height: 120px;
}

.detail-author .author-info {
  padding-left: 20px;
}

.detail-author {
  padding-top: 30px;
}

.detail-author .author-info h6 {
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  color: #3c4257;
}

.detail-author .author-info p {
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #6b7b9c;
  padding-top: 10px;
}

ul.author-social {
  display: flex;
  position: absolute;
  right: 0;
}

.detail-author ul.author-social li img {
  width: 24px;
  height: 24px;
}

ul.author-social li {
  margin-left: 20px;
}

.post-author {
  position: relative;
}

.detail-topics {
  padding-top: 20px;
  padding-bottom: 10px;
}

.detail-topics span {
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  color: #3c4257;
  margin-right: 16px;
  display: inline-block;
}

.detail-topics .topic-tag {
  background: #4c70f0;
  border-radius: 8px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  padding: 7px 12px;
}
.detail-topics .topic-tag:last-child {
  background: #34a853;
}

/**************** Sidebar  ******************/

.table-content {
  border: 1px solid #dde4ef;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 30px;
}

.table-content h4 {
  font-weight: 800;
  font-size: 16px;
  line-height: 100%;
  color: rgb(60, 66, 87);
  margin: 0px;
  padding-bottom: 20px;
}

.table-content-post ul li a {
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #6b7b9c;
  position: relative;
}

.table-content-post ul li a:hover {
  text-decoration: none;
  color: #3c4257;
}

.table-content-post ul li {
  margin-bottom: 12px;
  line-height: 22px;
  position: relative;
}

.table-content-post ul li a:hover::before {
  content: "";
  width: 2px;
  height: 100%;
  position: absolute;
  left: -21px;
  background: #4c70f0;
  top: 0;
}

.table-content-post ul li:last-child {
  margin-bottom: 0;
}

ul.share-social {
  display: flex;
}

.share-post {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

ul.share-social li {
  margin-right: 18px;
}

.share-post .btn {
  background: #4c70f0;
  border-radius: 8px;
  padding: 10px 20px;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
}

.share-post .btn:focus {
  box-shadow: none;
}

.have-question {
  background: rgba(239, 243, 255, 0.5);
  border: 1px dashed #b9c8fe;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 25px;
  text-align: center;
}

.have-question h2 {
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  color: #3c4257;
  margin: 0;
  padding-bottom: 5px;
}

.have-question p {
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  text-align: center;
  color: #3c4257;
}

.what-think {
  background: rgba(239, 243, 255, 0.5);
  border: 1px dashed #b9c8fe;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 25px;
  margin-bottom: 30px;
  text-align: center;
}

.what-think h2 {
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  color: #3c4257;
  margin: 0;
  padding-bottom: 5px;
}

.what-think p {
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  text-align: center;
  color: #3c4257;
}

.think-tag {
  background: #ffffff;
  border: 1px solid #c4cad7;
  border-radius: 8px;
  padding: 13px 20px;
  display: inline-block;
  margin: 6px;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #4c70f0;
}

.think-tag img {
  margin-right: 4px;
}

.detail-related-post {
  background: linear-gradient(0deg, #f7f9fd, #f7f9fd);
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 30px;
}

.detail-related-post h4 {
  font-weight: 800;
  font-size: 16px;
  line-height: 100%;
  color: #3c4257;
  margin: 0;
  padding-bottom: 20px;
}

.detail-related-post .featured-related-post-box {
  margin-bottom: 20px;
}

.detail-related-post .featured-img {
  width: 125px;
}

.detail-related-post .featured-img img {
  height: 90px;
}

.detail-related-post .post-info span {
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
}

.detail-related-post .featured-info {
  width: calc(100% - 135px);
}

.detail-related-post .post-info {
  padding-top: 0px;
  padding-bottom: 4px;
}

.detail-related-post .featured-info h4 {
  font-weight: 800;
  font-size: 16px;
  line-height: 22px;
  color: #3c4257;
}

/**************** Related Resource ********************/

.related-resource h2 {
  font-weight: 800;
  font-size: 40px;
  line-height: 100%;
  color: #3c4257;
  margin: 0;
  padding-bottom: 30px;
}

.related-resource-container {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 4rem 2rem;
}

.related-resource-box {
  background: #ffffff;
  border: 2px solid #e7e7e7;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 20px;
}

.related-resource {
  padding-top: 30px;
  padding-bottom: 80px;
}

.related-resource-cover img {
  width: 100%;
  height: 155px;
  object-fit: cover;
  border-radius: 8px;
}

.related-resource-info span {
  display: block;
  padding: 15px 0px 10px;
  font-weight: 600;
  font-size: 12px;
  line-height: 100%;
  color: #6b7b9c;
}

.related-resource-info h4 {
  font-weight: 800;
  font-size: 16px;
  line-height: 22px;
  color: #3c4257;
}

.video-tag {
  border: 2px solid #6ccaa8;
}

.video-tag span {
  color: #6ccaa8;
}

.webinar-tag {
  border: 2px solid #fdc965;
}

.webinar-tag span {
  color: #fdc965;
}

.studies-tag {
  border: 2px solid #f97179;
}

.studies-tag span {
  color: #f97179;
}

.paper-tag {
  border: 2px solid #708beb;
}

.paper-tag span {
  color: #708beb;
}

@media screen and (max-width: 991px) {
  .blog-breadcrum {
    padding: 20px 0px;
  }

  .blog-breadcrum ul {
    white-space: nowrap;
    display: block;
    overflow-x: auto;
    overflow-y: hidden;
  }
  .blog-breadcrum ul li {
    display: inline-block;
  }

  .blog-hero {
    height: auto;
  }
  .blog-content-left img {
    width: 100%;
  }
  .related-resource-container {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 2rem 2rem;
  }
  .blog-content-left {
    padding-top: 50px;
  }
  .hero-info h2 {
    font-size: 28px;
    line-height: 30px;
  }
  .blog-content-left h3 {
    font-size: 20px;
    line-height: 30px;
  }
  .have-question h2 {
    font-size: 18px;
  }
  .related-resource h2 {
    font-size: 30px;
  }
  .what-think h2 {
    font-size: 18px;
  }
}
